* {
    font-family: "Open Sans", Calibri;
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: #3f4754;
    color: white;
}
/*
Home page
*/

/* Makes navbar */

/* mobile intergration for home page */

@media only screen and (max-width: 800px) {
    .nav ul {
        display: none;
    }

    .imgTxt {
        margin-top: 0px;
    }

    .code img {
        overflow: hidden;
        width: 100%;
    }
}

/* end of mobile */
/* start of desktop mod */

@media only screen and (min-width: 801px) {
    .button {
        display: none;
    }
}

/* end of desktop mod */
.nav {
    width: 100%;
    background-color: #424249;
    color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.nav ul {
    list-style: none;
    text-align: right;
}

.nav ul li {
    display: block;
    padding-right: 3%;
    float: right;
    font-size: 220%;
    color: white;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.nav ul li a:hover {
    background-color: #7FADF8;
}

.button {
    border: solid #7FADF8 2px;
    border-radius: 10px;
    float: right;
    margin-top: 3%;
    padding: 1%;
}

.button p a {
    color: white;
    text-decoration: none;
}

/* end of nav bar */
/* start of name in nav bar */

.head {
    float: left;
    background-color: #7FADF8;
    padding-right: 2%;
    color: #424249;
    padding-left: 1.5%;
    font-size: 150%;
}

.head h2 a {
    text-decoration: none;
    color: #424249;
}

/* end of name */
/* background image */

.code img {
    margin-top: 1%;
    margin: auto;
    padding: auto;
    border-bottom: #7FADF8 solid 2px;
}

/* background img end */
/* text on image */

.imgTxt {
    position: unset;
    text-align: center;
    color: white;
    z-index: 1;
    margin-top: -22.5%;
    font-size: 150%;
}

/* end of image */
/* makes skills centered */

.box {
    display: inline-block;
    margin-top: 9%;
    text-align: center;
    margin-left: -5%;
    margin-right: 2.5%;
}

/* end of skills code */

/*
Projects page
*/
/* centers coming soon txt */

.soon p {
    margin-top: 10%;
    text-align: center;
    font-size: 200%;
}
/*
Contact page
*/
/* centers social media icons and txt */

.soc {
    margin-left: 18%;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
}

/* end of social media */
/*
About page
*/
/* centers about page info */

.about {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    border: #7FADF8 solid 1%;
    border-radius: 20px;
    background-color: #7FADF8;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}