@media only screen and (max-width: 800px), (orientation: portrait) {
    .nav {
        display: none;
    }
}

* {
    font-family: "Comic Sans MS", Calibri;
}

body {
    background-color: #8690E5;
    margin: 0;
    padding: 0;
}
/* 
home page
*/
.nav {
    background-color: #7FADF8;
    color: #8690E5;
    border: 2.5px solid #7FADF8;
    top: -15px;
    left: 0;
    position: fixed;
    height: 100%;
    padding-top: 15%;
    list-style: none;
    margin-bottom: 0px;
    text-align: center;
    z-index: 0;
    padding-left: 0%;
    width: 8%;
}

.nav > li {
    font-size: 170%;
    padding-bottom: 20%;
    text-decoration: underline;
    top: 50%;
    bottom: 50%;
}

.nav > li > a {
    text-decoration: none;
    color: #8690E5;
}

.nav > li > a:hover { 
    color: white;
}

.head {
    text-align: center;
    position: fixed;
    background-color: #7FADF8;
    margin-top: 0px;
    padding-bottom: 0%;
    z-index: 1;
    width: 100%;
    text-decoration: none;
    color: #8690E5;
}

.head h1 a {
    text-decoration: none;
}

.head h1 a:visited {
    color: #8690E5;
    text-align: center;
    text-decoration: none;
}

.image {
    float: left;
    padding-left: -500%;
}

.image1 {
    float: right;
    padding-right: -500%;
}

.section {
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2.5px solid #7FADF8;
    border-radius: 50px;
    background-color: #7FADF8;
    color: #8690E5;
    text-align: center;
    font-size: 200%;
    /* Makes it go to middle of screen */
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
/*
social page
*/
.social ul {
    text-align: center;
    color: #7FADF8;
    font-size: 200%;
    list-style: none;
    margin-top: 10%;
}

.social > li {
    position: relative;
    display: inline;
}
/*
projects page
*/

/*
Contact me page
*/
.contact {
    padding-top: 10%;
}
