body
{
	background-color: black;
	color: white;
	text-align: center;
}

.code 
{
	text-align: left;
	vertical-align:top;
}

.button
{
	background-color: black;
	border: 5px solid red;
	margin: auto;
	color: white;
	text-decoration: none;
	width: 100px;
	height: 50px;
	border-radius: 50px;
	font-size: 25px;
}